* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 200px;
    height: auto;
}

body {
    padding: 3px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.table {
    margin-bottom: 0px;
}

.table > tbody > tr:first-child > td {
    border: none;
}

.contrib-legend {
    display: block;
}

li {
    border-radius: 20%;
    margin-left: 5px;
    float: left;
    width: 15px;
    height: 15px;
}

.contrib-legend .legend {
    margin: 0;
    list-style: none;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

#title {
    background-color: aliceblue;
}

#github {
    background-color: #212121;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#github > img {
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 0 auto;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}